body{
    padding:0;
    margin:0;
}
/*头部*/
.toubu{width:100%; height:68px; margin:0px auto;background:url(../images/Zhuti_2/index_logo_bj_2.jpg) repeat-x;}
/*底部*/
.weibu{ clear:both; margin:0 auto; background:url(../images/Zhuti_2/caidan_2.jpg) repeat-x;height:30px;}
.weibu p {width:100%; padding-top:2px; text-align:center;}

/*菜单*/
.menu_yonghu{ float:left; color:Blue;  margin-left:50px;}
.menu{
      font: 13px/27px Arial,sans-serif;
     background:url(../images/Zhuti_2/caidan_2.jpg) repeat-x;
      height:30px;
}
.menu_ul{ width:1024px; margin:0 auto;}
.menu a:hover{
    background-color:#e4ebf8;
    color:black;

}
.menu a {
    text-decoration: none;
    padding: 6px 8px 7px;
    color:white;
    outline:none;
}
.menu ul{
    list-style: none;
}
.menu ul a{text-decoration: none;}
.menu ul li{
    padding:0;
    float:left;
    
}
.menu ul li ul li{
    padding:0;
    float:none;
    margin: 0 0 0 0px;
    width:100%;
}
.menu ul li ul{
    position: absolute;
    border: 1px solid #C3D1EC;
    box-shadow: 0 1px 5px #CCCCCC;
    margin-top: -1px;
    display:none;
    padding: 0px 16px 0px 0;
}
.active ul{
    display:block !important; 
}
.active a{
    background-color: white;
    border: 1px solid #C3D1EC;
    border-bottom: 0;
    box-shadow: 0 -1px 5px #CCCCCC;
    display: block;
    height: 29px;
    padding: 0 8px 0 8px;
    position:relative;
    z-index: 1;
    color:#3366CC;

}
.active a:hover{
    background-color:white;
}
.active ul a:hover{
    background-color:#e4ebf8;
}

.active ul a{
    border: 0 !important;
    box-shadow: 0 0 0 #CCCCCC;
    border:0;
    width: 100%;
}
.arrow {
    border-color: white transparent transparent;
    border-style: solid dashed dashed;
    margin-left: 5px;
    position: relative;
    top: 10px;
}

